* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.btn-shop, .btn-Moreinfo, .btn-Add {
  padding: 8px 35px;
  font-size: 18px;
}

.btn-Add {
  background-color: white;
  color: black;
  border: solid 1px #909397;
}

.btn-Moreinfo {
  background-color: #909397;
  color: white;
  border: none;
}

#home.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.item .item__top {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
}
.item .item__top img {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px black;
}

#home a {
  text-decoration: none;
  transition: all 0.5s;
}
#home a:hover {
  text-decoration: none;
}
#home a:hover h1::after {
  transform: scaleX(1);
}
#home a h1::after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 25px;
  transform: scaleX(0);
  transition: all 0.5s;
}

#home h1 {
  position: relative;
  color: black;
  font-size: 25px;
  margin-top: 5px;
}

.product h1 {
  margin: 50px 0;
  font-size: 28px;
  font-weight: 500;
  color: #2b3c4e;
}

.search {
  position: relative;
}
.search i {
  position: absolute;
  top: 35px;
  right: 10px;
}
.search input {
  width: 400px;
}

#btnAddProduct {
  background-color: black;
  border-color: black;
  margin: 10px 0;
}

header#header_bg {
  background-color: black;
}
header#header_bg a#store {
  margin: 0;
  margin-right: 150px;
}

.carousel {
  margin: 30px 0;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.carousel .title {
  margin-left: 200px;
}
.carousel .banner {
  margin: 0 auto;
}
.carousel .banner img {
  max-width: 100%;
  height: auto;
  width: 400px;
}
.carousel .container {
  align-items: center;
}

.cart {
  margin: 0;
  position: relative;
}
.cart .count {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -12px;
  left: 50%;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.formCart {
  position: absolute;
  background-color: #F2F3F4;
  top: 70px;
  right: 0;
  width: 450px;
  height: auto;
}
.formCart img {
  width: 50px;
  height: auto;
}
.formCart i {
  cursor: pointer;
}

.products_bg {
  background-color: black;
  padding-bottom: 50px;
}
.products_bg .products {
  transition: all 0.5s;
  margin: 100px 0;
}
.products_bg .products .title {
  padding-top: 80px;
  text-align: center;
  color: white;
}
.products_bg .products .title h1 {
  margin: 0;
}
.products_bg .products .card {
  margin: 10px 0;
  width: 300px;
  height: 350px;
  padding: 15px;
  border-radius: 15px;
  background-color: #323232;
}
.products_bg .products .card:hover {
  box-shadow: -4px -4px 8px rgba(252, 215, 215, 0.2), 8px 8px 12px rgba(28, 28, 28, 0.4);
}
.products_bg .products .card__top {
  text-align: center;
}
.products_bg .products .card__top img {
  max-width: 100%;
  height: auto;
  width: 200px;
}
.products_bg .products .card__body {
  text-align: center;
  padding-top: 5px;
  color: white;
}
.products_bg .products .card__body button {
  width: 80px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
  color: #909397;
}

.container {
  margin: 0 auto;
  height: 100%;
}
.container .navbar {
  height: 100%;
}

header {
  align-items: center;
  height: 70px;
  background-color: #2b3c4e;
}
header a {
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin-right: 15px;
}
header a#logo {
  font-size: 28px;
}/*# sourceMappingURL=main.css.map */