$color-grey1: #F2F3F4;
$color-grey2: #E5E7E9;
$color-grey3: #BDC3C7;
$color-grey4: #909397;
$color-grey5: #797D7F;
$color-grey6: #626567;

$color-white: #ffff;
$color-black: black;

$color-blue3: #2e86c1;
$color-blue6: #2b3c4e;
