.product{
    h1{
        margin: 50px 0;
        @include styleText($fs-5, $fw-5, $color-blue6)
    }
}
.search{
    position: relative;
    i{
        position: absolute;
        top: 35px;
        right: 10px;
    }
    input{
        width: 400px;
    }
}
#btnAddProduct{
    background-color: $color-black;
    border-color: $color-black;
    margin: 10px 0;
}