
#home.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.item{
    & &__top{
        width: 300px;
        height: 250px;
        display: flex;
        align-items: center;
        // border-radius: 20px;
        // box-shadow: 0px 0px 3px 1px black;
        img{
            width: 100%;
            height: auto;
            text-align: center;
            border-radius: 20px;
            box-shadow: 0px 0px 3px 1px black;
        }
    }
}

#home a{
    text-decoration: none;
    transition: all .5s;
    &:hover{
        text-decoration: none;
        h1::after{
            transform: scaleX(1);
        }
    }
    h1::after{
        content: "";
        width: 80%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: -5px;
        left: 25px;
        transform: scaleX(0);
        transition: all .5s;
    
    }
}
#home h1{
    position: relative;
    color: black;
    font-size: 25px;
    margin-top: 5px;
}