<!doctype html>
<html lang="en">
  <head>
    <title>Store Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT ANWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- MY CSS -->
    <link rel="stylesheet" href="/asset/css/main.css">
  </head>
  <body>
    <!-- HEADER -->
      <header>
        <div class="container">
          <div class="navbar d-flex justify-content-between">
            <a id="logo" href="#">Cybersoft Phone</a>
            <div class="div">
              <a id="store" href="#"><i class="fa-solid fa-house"></i> HOME</a>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </header>
      <section class="carousel">
        <div class="container d-flex">
            <div class="title">
                <h1>Sản phẩm mới</h1>
                <h3>Iphone X</h3>
                <p>Thiết kế mang tính đột phá</p>
                <button>Add</button>
                <button>More Info</button>
              </div>
          <div class="banner">
            <img src="/asset/image/iphone-x-64gb-hh-600x600.jpg" alt="">
          </div>
          
        </div>
      </section>
      <section class="products">
        <div class="container">
            <div class="title">
                <h1>Tất cả sản phẩm</h1>
            </div>
            <div class="products row">
                <div class="product__item col-4">
                    <div class="card">
                        <div class="card__top">
                            <img src="/asset/image/iphone-x-64gb-hh-600x600.jpg" alt="">
                        </div>
                        <div class="card__body">
                            <div class="infor">
                                <h3>Iphone X</h3>
                                <p>$1000</p>
                            </div>
                            <button>Mua</button>
                        </div>
                    </div>
                </div>
                <div class="product__item col-4">
                    <div class="card">
                        <div class="card__top">
                            <img src="/asset/image/iphone-x-64gb-hh-600x600.jpg" alt="">
                        </div>
                        <div class="card__body">
                            <div class="infor">
                                <h3>Iphone X</h3>
                                <p>$1000</p>
                            </div>
                            <button></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>