<!doctype html>
<html lang="en">

<head>
  <title>Store Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- FONT ANWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- MY CSS -->
  <link rel="stylesheet" href="/asset/css/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <!-- HEADER -->
  <header id="header_bg">
    <div class="container">
      <div class="navbar d-flex justify-content-between">
        <a id="logo" href="#">Cybersoft Phone</a>
        <div class="div">
          <a id="store" href="../../index.html"><i class="fa-solid fa-house"></i> HOME</a>
        </div>
        <a href="#" class="cart" onclick="clickCart()">
          <span><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="count" id="count">0</span>
        </a>
      </div>
    </div>
  </header>
  <!-- END HEADER -->
  <section class="carousel">
    <div class="container d-flex">
      <div class="title">
        <h1>Sản phẩm mới</h1>
        <h3>Iphone X</h3>
        <p>Thiết kế mang tính đột phá</p>
        <button class="btn-Add" onclick="cart('1')">Add</button>
        <button class="btn-Moreinfo">More Info</button>
      </div>
      <div class="banner">
        <img src="/asset/image/apple-iphone-x-64-gb-uzaygri-3.png" alt="">
      </div>
    </div>
  </section>
  <!-- PRODUCTS -->
  <section class="products_bg">
    <section class="products">
      <div class="container">
        <div class="title">
          <h1>Tất cả sản phẩm</h1>
        </div>
        <div id="shopProducts" class="products row">
        </div>
      </div>
    </section>
  </section>
  <!-- END PRODUCTS -->

  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">Thông tin sản phẩm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="infor"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">Thêm vào giỏ</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CART -->
  <div class="formCart form-group d-none" id="formCart">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col" style="text-align: center;">Số lượng</th>
          <th scope="col" style="text-align: center;">Giá</th>
          <th></th>
        </tr>
        <tbody id="displayCart">

        </tbody>
      </thead>
    </table>
    <p style="text-align: right;" class="mr-5" id="sumPrice">Tổng giá: </p>
  </div>

  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- MY JS -->
  <script src="/admin/services/productAPI.js"></script>
  <script src="/admin/model/Product.js"></script>
  <script src="/customer/controller/mainshop.js"></script>

</body>

</html>