<!doctype html>
<html lang="en">

<head>
  <title>Admin Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- FONT ANWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- MY CSS -->
  <link rel="stylesheet" href="/asset/css/main.css">
</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="container">
      <div class="navbar d-flex justify-content-start">
        <a id="logo" href="/index.html">Cyber Phone</a>
        <div class="div ml-5">
          <a href="./admin.html"><i class="fa-solid fa-house"></i> HOME</a>
          <a href="/customer/view/customer.html"><i class="fa-solid fa-store"></i> STORE</a>
        </div>
      </div>
    </div>
  </header>
  <section class="product">
    <div class="container">
      <h1>Quản lý sản phẩm</h1>
      <div class="navSortSearch d-flex justify-content-between">
        <div class="sort">
          <div class="form-group">
            <label for="inputSort">
              <i class="fa-solid fa-arrows-up-down"></i>
              Sắp xếp sản phẩm</label>
            <select id="inputSort" class="form-control">
              <option selected value="">Chọn điều kiện</option>
              <option value="fromMin">Giá từ thấp đến cao</option>
              <option value="fromMax">Giá từ cao đến thấp</option>
            </select>
          </div>
        </div>
        <div class="search">
          <label for="inputSearch"></label>
          <input class="form-control" id="inputSearch" type="text" placeholder="Tìm kiếm sản phẩm">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
      <button class="btn btn-success" id="btnAddProduct" data-toggle="modal" data-target="#myModal" onclick="reset()">Thêm Mới</button>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Màn hình</th>
            <th scope="col">Camera sau</th>
            <th scope="col">Camera trước</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Miêu tả</th>
            <th scope="col">Loại</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="productsList">
          
        </tbody>
      </table>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thêm sản phẩm mới</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <input id="TenSP" class="form-control" placeholder="Nhập vào tên sản phẩm" />
            <span id="spanName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Giá</label>
            <input id="GiaSP" class="form-control" placeholder="Nhập vào giá" />
            <span id="spanPrice" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Màn Hình</label>
            <input id="screen" class="form-control" placeholder="Nhập vào màn hình sản phẩm" />
            <span id="spanScreen" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Camera Trước</label>
            <input id="frontCamera" class="form-control" placeholder="Nhập vào camera trước của sản phẩm" />
            <span id="spanFrontCam" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Camera Sau</label>
            <input id="backCamera" class="form-control" placeholder="Nhập vào camera sau của sản phẩm" />
            <span id="spanBackCam" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Hình Ảnh</label>
            <input id="imgSP" class="form-control" placeholder="Nhập vào hình sản phẩm" />
            <span id="spanImg" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Miêu tả</label>
            <input id="descSP" class="form-control" placeholder="Nhập vào miêu tả sản phẩm" />
            <span id="spanDesc" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label>Loại sản phẩm: </label>
            <input id="loaiSP" class="form-control" placeholder="Nhập vào loại sản phẩm" />
            <span id="spanType" class="text-danger"></span>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class ="btn btn-secondary" data-dismiss = "modal" onclick="reset()">Hủy</button>
        <button class ="btn btn-success" onclick = "createProduct()">Thêm</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>

  <!-- AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- MY JS -->
  <script src="/admin/services/productAPI.js"></script>
  <script src="/admin/model/Product.js"></script>
  <script src="/admin/controller/main.js"></script>
</body>

</html>