.btn-shop {
   padding: 8px 35px;
   font-size: 18px;
   transition: all 0.5s;
}

.btn-Add {
   @extend .btn-shop;
   @include button($color-white, $color-black);
   border: solid 1px $color-grey4;
   margin-bottom: 10px;
   &:hover {
      background-color: black;
      color: white;
      border: solid 1px black;
   }
}

.btn-Moreinfo {
   @extend .btn-shop;
   @include button($color-grey4, $color-white);
   border: solid 1px $color-grey4;

   &:hover {
      background-color: black;
      color: white;
   }
}

button:focus {
   &:focus {
      outline: 0;
   }

   &:active {
      outline: 1px solid;
   }
}

button.btnConfirm {
   padding: 6px 12px;
   font-size: 16px;
   border-radius: 4px;
   background: $color-grey4;
   border: 1px solid $color-grey4;
   color: $color-white;
   margin-right: 10px;
   transition: 0.5s all;

   &:hover {
      background: aquamarine;
      border-color: aquamarine;
   }
}

button.btnClose {
   padding: 6px 12px;
   font-size: 16px;
   border-radius: 4px;
   background: $color-grey4;
   border: 1px solid $color-grey4;
   color: $color-white;
   transition: 0.5s all;

   &:hover {
      opacity: 0.7;
   }
}
